body{
    margin: 0;
    margin-top: 4em;
    font-family: 'Fredoka', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1{
    padding-top: 1em;
    text-align: center;
    font-size: 4em;
}

#instagramEscape{
    color: black;
    text-decoration: underline;
    transition: 1000ms ease;
}

#instagramEscape:hover{
    color: rgb(50, 50, 50);
    text-decoration: none;
    transition: 1000ms ease;
}

.imgCon{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgProfil{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid rgb(86, 82, 84);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(86 82 84 / 50%);
    overflow: hidden;
}

#profil{
    width: 250px;
    height: auto;
    position: relative;
    top: 15px;
    border-radius: 50%;
    transition: 700ms ease;
}

#profil:hover{
    width: 400px;
    height: auto;
    transition: 700ms ease;
    top: 15px;
}

/* Navigation bar */

header{
    width: 100%;
}

nav{
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    grid-row: 1;
    background-color: rgb(86, 82, 84);
    height: 4em;
    width: 100%;
    color: rgb(200, 200, 200);
    z-index: 1;
}

#myName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.reseauSocial{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 0.8em;
}

.social:hover{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

#instagram{
    margin: 0 1em;
}

#github{
    margin-right: 1em;
}

#facebook{
    margin-left: 1em;
}

a{
    color: rgb(200, 200, 200);
    text-decoration: none;
}

p{
    padding-left: 10px;
    font-size: 1.5em;
}

.img{
   transition: 400ms ease;
}

.img:hover{
   border-radius: 5%;
   transition: 400ms ease;
}

/* footer */
.container{
    background-color: rgb(86, 82, 84);
    color: rgb(208, 207, 207);
    height: 3em;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: auto;
}

.copyright{
    padding-bottom: 0.3em;
}

@media only screen and (max-width: 780px){

    #myName{
        font-size: 1.5em;
        margin-left: 10px;
    }

    /* Image */

    #boxAllImage{
        display: block
    }

    .smallScreen{
        display: block;
    }

    .img{
        width: 300px;
        height: 300px;
        margin: 1em;
    }
}


@media only screen and (min-width: 780px){

    /* Image */
    #boxAllImage{
        display: grid;
        grid-template-columns: 12fr;
        grid-row: 2;
    }

    .smallScreen{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img{
        width: 200px;
        height: 200px;
        margin: 1em;
    }
}


@media only screen and (min-width: 1050px){
    
    /* Image */
    #boxAllImage{
        display: grid;
        grid-template-columns: 12fr;
        grid-row: 2;
    }

    .smallScreen{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img{
        width: 300px;
        height: 300px;
        margin: 1em;
    }
}

/* Image All screen size */

.colonneA{
    display: flex;
    align-items: center;
    justify-content: center;
}

.colonneB{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
    height: auto;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10%;
    transition: 400ms ease;
    border: 10px solid rgb(86, 82, 84);
    background-color: rgb(86, 82, 84);
}
 
.img:hover{
    border-radius: 5%;
    transition: 400ms ease;
}

/* Image individuelle */

#imgA{
    background-image: url("images/chambre.PNG");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#imgA:hover {
    background-color: rgba(86, 82, 84, 0.75);
    background-image: url();
    transition: 1500ms ease;
}

#imgB{
    background-image: url("images/chaletHiver.PNG");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#imgB:hover {
    background-color: rgba(86, 82, 84, 0.75);
    background-image: url();
    transition: 1500ms ease;
}

#imgC{
    background-image: url("images/cuisine.PNG");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#imgC:hover {
    background-color: rgba(86, 82, 84, 0.75);
    background-image: url();
    transition: 1500ms ease;
}

#imgD{
    background-image: url("images/kidnap.PNG");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#imgD:hover {
    background-color: rgba(86, 82, 84, 0.75);
    background-image: url();
    transition: 1500ms ease;
}

#imgE{
    background-image: url("images/diamondRoad1.PNG");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#imgE:hover {
    background-color: rgba(86, 82, 84, 0.75);
    background-image: url();
    transition: 1500ms ease;
}

#imgF{
    background-image: url("images/diamondRoad2.PNG");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#imgF:hover {
    background-color: rgba(86, 82, 84, 0.75);
    background-image: url();
    transition: 1500ms ease;
}

.hiddenText{
    display: none;
    text-align: center;
}

.img:hover .hiddenText{
    display: block;
}

/* CSS for the blog.html page */

.secondaryNav{
    width: 100%;
    height: 2em;
    background-color: rgb(105, 100, 102);
}

#account{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100%;
}

#create{
    margin-right: 10px;
}

#signIn{
    margin-right: 10px;
}